*.jar.original
# Logs
*.log
*.err

# Mac OSX
.DS_Store
.svn
.AppleDouble
.LSOverride

# Thumbnails
._*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.lazybones

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Windows
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Package Files
*.jar
*.war
*.ear
*.db
*.zip

# Intellij
.idea/*
*.iml
*.iws
*.ipr
*.ids
*.orig
.idea/*.xml
/out/
.idea_modules/

*.class

lib/*

# Maven
java/**/log/**
java/**/logs/**
java/**/target/**
**/target/**
.env
.mvn
HELP.md
!.mvn/wrapper/maven-wrapper.jar

log/**